.env
*.csv
myenv
__pycache__
.vscode
llama.cpp
Datasets
_unsloth_sentencepiece_temp
models
outputs
*.ipynb_checkpoints
model
nohup.out
gpu_memory_stats.txt
results2
results3
results4
results5
results olds data